<section id="contact" class="py-5 bg-light">
    <div class="container">
        <h2 class="text-center mb-4">Contact Us</h2>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <ul class="list-unstyled">
                    <li><strong>Email:</strong> info@2n1cafecorp.com</li>
                    <li><strong>Phone:</strong> (123) 456-7890</li>
                    <li><strong>Facebook:</strong> <a href="https://www.facebook.com/2n1cafecorp" target="_blank">facebook.com/2n1cafecorp</a></li>
                    <li><strong>Instagram:</strong> <a href="https://www.instagram.com/2n1cafecorp" target="_blank">@2n1cafecorp</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
