<section id="products" class="container my-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>Our Products</h2>
    </div>

    <div id="productCategories" class="mt-4">
        <div class="category" id="milktea">
            <h4>Milktea</h4>
            <div class="row" id="milkteaList"></div>
        </div>
        <div class="category" id="iced-coffee">
            <h4>Iced Coffee</h4>
            <div class="row" id="icedCoffeeList"></div>
        </div>
        <div class="category" id="non-coffee">
            <h4>Non Coffee</h4>
            <div class="row" id="nonCoffeeList"></div>
        </div>
    </div>
</section>
